systemLib/localServices/aaaBpelFault.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:soae-fault="http://www.intel.com/soae/bpelFault-2009a/" 
           xmlns:ldap="http://www.intel.com/soae/localService/ldap-2007a/"
           xmlns:kerberos="http://www.intel.com/soae/localService/kerberosKDC-2009a/"
           xmlns:aaa="http://www.intel.com/soae/localService/aaaDefinition-2007a/"
           xmlns:sm="http://www.intel.com/soae/localService/siteminder-2009a/"
           xmlns:oam="http://www.intel.com/soae/localService/oracleAccessManager-2009a/"
           xmlns:ssm="http://security.bea.com/ssmws/ssm-soap-types-1.0.xsd"
           xmlns:xacml-context="urn:oasis:names:tc:xacml:2.0:context:schema:os"
           xmlns:tam="http://www.intel.com/soae/localService/tivoliAccessManager-2009a/"
           xmlns:samlp1x="urn:oasis:names:tc:SAML:1.0:protocol"
           xmlns:samlp20="urn:oasis:names:tc:SAML:2.0:protocol"
           targetNamespace="http://www.intel.com/soae/bpelFault-2009a/" 
           elementFormDefault="unqualified" >

  <xs:include schemaLocation="soaeBpelFault.xsd" />

  <xs:import schemaLocation="ldap.xsd" namespace="http://www.intel.com/soae/localService/ldap-2007a/"/>
  <xs:import schemaLocation="kerberosKDC.xsd" namespace="http://www.intel.com/soae/localService/kerberosKDC-2009a/"/>
  <xs:import schemaLocation="siteMinder.xsd" namespace="http://www.intel.com/soae/localService/siteminder-2009a/"/>
  <xs:import schemaLocation="oracleAccessManager.xsd" namespace="http://www.intel.com/soae/localService/oracleAccessManager-2009a/"/>
  <xs:import schemaLocation="ssm-soap-types.xsd" namespace="http://security.bea.com/ssmws/ssm-soap-types-1.0.xsd"/>
  <xs:import schemaLocation="access_control-xacml-2.0-context-schema-os.xsd" namespace="urn:oasis:names:tc:xacml:2.0:context:schema:os"/>
  <xs:import schemaLocation="tivoliAccessManager.xsd" namespace="http://www.intel.com/soae/localService/tivoliAccessManager-2009a/"/>
  <xs:import schemaLocation="../importedSchemas/oasis-sstc-saml-schema-protocol-1.1.xsd" namespace="urn:oasis:names:tc:SAML:1.0:protocol"/>
  <xs:import schemaLocation="../importedSchemas/saml-schema-protocol-2.0.xsd" namespace="urn:oasis:names:tc:SAML:2.0:protocol"/>

  <!-- ========================================================================

    Defines the soae bpel faults that can be generated by wssec related functions.
    
    ======================================================================== -->

  <!-- Please keep in alphabetical order -->

  <xs:element name="aaaLdapSearchFault" type="soae-fault:AaaLdapSearchFault">
    <xs:annotation>
      <xs:documentation xml:lang="en">LDAP Search failure</xs:documentation>
      <xs:appinfo source="http://www.intel.com/soae/bpelFault-2009a/faultInfo">aaa:ldapSearchFault</xs:appinfo>	      
    </xs:annotation>
  </xs:element>

  <xs:element name="aaaKerberosLookupFault" type="soae-fault:AaaKerberosLookupFault">
    <xs:annotation>
      <xs:documentation xml:lang="en">Kerberos ticket lookup failure</xs:documentation>
      <xs:appinfo source="http://www.intel.com/soae/bpelFault-2009a/faultInfo">aaa:kerberosLookupFault</xs:appinfo>	      
    </xs:annotation>
  </xs:element>

  <xs:element name="aaaLdapAuthorizationFault" type="soae-fault:AaaLdapAuthorizationFault">
    <xs:annotation>
      <xs:documentation xml:lang="en">LDAP Authorization failure</xs:documentation>
      <xs:appinfo source="http://www.intel.com/soae/bpelFault-2009a/faultInfo">aaa:ldapAuthorizationFault</xs:appinfo>	      
    </xs:annotation>
  </xs:element>
  
  <xs:element name="aaaLdapAuthenticationFault" type="soae-fault:AaaLdapAuthenticationFault">
    <xs:annotation>
      <xs:documentation xml:lang="en">LDAP Authentication failure</xs:documentation>
      <xs:appinfo source="http://www.intel.com/soae/bpelFault-2009a/faultInfo">aaa:ldapAuthenticationFault</xs:appinfo>	      
    </xs:annotation>
  </xs:element>
  
  <xs:element name="aaaSsoValidationFault" type="soae-fault:AaaSsoValidationFault">
    <xs:annotation>
      <xs:documentation xml:lang="en">SSO Validation failure</xs:documentation>
      <xs:appinfo source="http://www.intel.com/soae/bpelFault-2009a/faultInfo">aaa:ssoValidationFault</xs:appinfo>	      
    </xs:annotation>
  </xs:element>

  <xs:element name="aaaKeystoreAuthenticationFault" type="soae-fault:AaaKeystoreAuthenticationFault">
    <xs:annotation>
      <xs:documentation xml:lang="en">Keystore Authentication failure</xs:documentation>
      <xs:appinfo source="http://www.intel.com/soae/bpelFault-2009a/faultInfo">aaa:keystoreAuthenticationFault</xs:appinfo>	      
    </xs:annotation>
  </xs:element>
  
  <xs:element name="aaaWssecHeaderMissedFault" type="soae-fault:AaaWssecHeaderMissedFault">
    <xs:annotation>
      <xs:documentation xml:lang="en">Missing WS-Security SOAP header</xs:documentation>
      <xs:appinfo source="http://www.intel.com/soae/bpelFault-2009a/faultInfo">aaa:wssecHeaderMissedFault</xs:appinfo>	      
    </xs:annotation>
  </xs:element>
  
  <xs:element name="aaaNoHttpAuthHeaderFault" type="soae-fault:AaaNoHttpAuthHeaderFault">
    <xs:annotation>
      <xs:documentation xml:lang="en">Missing HTTP Authorization header</xs:documentation>
      <xs:appinfo source="http://www.intel.com/soae/bpelFault-2009a/faultInfo">aaa:noHttpAuthHeaderFault</xs:appinfo>	      
    </xs:annotation>
  </xs:element>
  
  <xs:element name="aaaNoSoapHeaderFault" type="soae-fault:AaaNoSoapHeaderFault">
    <xs:annotation>
      <xs:documentation xml:lang="en">Missing SOAP envelope header</xs:documentation>
      <xs:appinfo source="http://www.intel.com/soae/bpelFault-2009a/faultInfo">aaa:noSoapHeaderFault</xs:appinfo>	      
    </xs:annotation>
  </xs:element>
    
  <xs:element name="aaaSoapVersionMismatchFault" type="soae-fault:AaaSoapVersionMismatchFault">
    <xs:annotation>
      <xs:documentation xml:lang="en">SOAP version mismatch</xs:documentation>
      <xs:appinfo source="http://www.intel.com/soae/bpelFault-2009a/faultInfo">aaa:soapVersionMismatchFault</xs:appinfo>	      
    </xs:annotation>
  </xs:element>
  
  <xs:element name="aaaWsaHeaderMissedFault" type="soae-fault:AaaWsaHeaderMissedFault">
    <xs:annotation>
      <xs:documentation xml:lang="en">Missing WS-Addressing SOAP header</xs:documentation>
      <xs:appinfo source="http://www.intel.com/soae/bpelFault-2009a/faultInfo">aaa:wsaHeaderMissedFault</xs:appinfo>	      
    </xs:annotation>
  </xs:element>
  
  <xs:element name="aaaNoRequestElementFault" type="soae-fault:AaaNoRequestElementFault">
    <xs:annotation>
      <xs:documentation xml:lang="en">Missing request document in SOAP Envelope body</xs:documentation>
      <xs:appinfo source="http://www.intel.com/soae/bpelFault-2009a/faultInfo">aaa:noRequestElementFault</xs:appinfo>	      
    </xs:annotation>
  </xs:element>
  
  <xs:element name="aaaCannotExtractIdentityFault" type="soae-fault:AaaCannotExtractIdentityFault">
    <xs:annotation>
      <xs:documentation xml:lang="en">Cannot extract identity from the specified workflow location</xs:documentation>
      <xs:appinfo source="http://www.intel.com/soae/bpelFault-2009a/faultInfo">aaa:cannotExtractIdentityFault</xs:appinfo>	      
    </xs:annotation>
  </xs:element>
  
  <xs:element name="aaaCannotExtractResourceFault" type="soae-fault:AaaCannotExtractResourceFault">
    <xs:annotation>
      <xs:documentation xml:lang="en">Cannot extract resource from the specified workflow location</xs:documentation>
      <xs:appinfo source="http://www.intel.com/soae/bpelFault-2009a/faultInfo">aaa:cannotExtractResourceFault</xs:appinfo>	      
    </xs:annotation>
  </xs:element>
  
  <xs:element name="aaaOracleEntitlementServerXACMLAuthorizationFault" type="soae-fault:AaaOracleEntitlementServerXACMLAuthorizationFault">
    <xs:annotation>
      <xs:documentation xml:lang="en">Oracle Entitlement Server XACML Authorization failure</xs:documentation>
      <xs:appinfo source="http://www.intel.com/soae/bpelFault-2009a/faultInfo">aaa:oracleEntitlementsServerXACMLAuthorizationFault</xs:appinfo>	      
    </xs:annotation>
  </xs:element>

  <xs:element name="aaaOracleEntitlementServerAuthenticationFault" type="soae-fault:AaaOracleEntitlementServerAuthenticationFault">
    <xs:annotation>
      <xs:documentation xml:lang="en">Oracle Entitlement Server Authentication failure</xs:documentation>
      <xs:appinfo source="http://www.intel.com/soae/bpelFault-2009a/faultInfo">aaa:oracleEntitlementsServerAuthenticationFault</xs:appinfo>	      
    </xs:annotation>
  </xs:element>
  
  <xs:element name="aaaTivoliAccessManagerAuthorizationFault" type="soae-fault:AaaTivoliAccessManagerAuthorizationFault">
    <xs:annotation>
      <xs:documentation xml:lang="en">Tivoli Access Manager Authorization failure</xs:documentation>
      <xs:appinfo source="http://www.intel.com/soae/bpelFault-2009a/faultInfo">aaa:tivoliAccessManagerAuthorizationFault</xs:appinfo>	      
    </xs:annotation>
  </xs:element>

  <xs:element name="aaaTivoliAccessManagerAuthenticationFault" type="soae-fault:AaaTivoliAccessManagerAuthenticationFault">
    <xs:annotation>
      <xs:documentation xml:lang="en">Tivoli Access Manager Authentication failure</xs:documentation>
      <xs:appinfo source="http://www.intel.com/soae/bpelFault-2009a/faultInfo">aaa:tivoliAccessManagerAuthenticationFault</xs:appinfo>	      
    </xs:annotation>
  </xs:element>

  <xs:element name="aaaOracleAccessManagerAuthenticationFault" type="soae-fault:AaaOracleAccessManagerAuthenticationFault">
    <xs:annotation>
      <xs:documentation xml:lang="en">Oracle Access Manager Authentication failure</xs:documentation>
      <xs:appinfo source="http://www.intel.com/soae/bpelFault-2009a/faultInfo">aaa:oracleAccessManagerAuthenticationFault</xs:appinfo>	      
    </xs:annotation>
  </xs:element>
  
  <xs:element name="aaaOracleAccessManagerAuthorizationFault" type="soae-fault:AaaOracleAccessManagerAuthorizationFault">
    <xs:annotation>
      <xs:documentation xml:lang="en">Oracle Access Manager Authorization failure</xs:documentation>
      <xs:appinfo source="http://www.intel.com/soae/bpelFault-2009a/faultInfo">aaa:oracleAccessManagerAuthorizationFault</xs:appinfo>	      
    </xs:annotation>
  </xs:element>
  
  <xs:element name="aaaSiteMinderAuthorizationFault" type="soae-fault:AaaSiteMinderAuthorizationFault">
    <xs:annotation>
      <xs:documentation xml:lang="en">SiteMinder Authorization failure</xs:documentation>
      <xs:appinfo source="http://www.intel.com/soae/bpelFault-2009a/faultInfo">aaa:siteMinderAccessManagerAuthorizationFault</xs:appinfo>	      
    </xs:annotation>
  </xs:element>

  <xs:element name="aaaSiteMinderAuthenticationFault" type="soae-fault:AaaSiteMinderAuthenticationFault">
    <xs:annotation>
      <xs:documentation xml:lang="en">SiteMinder Authentication failure</xs:documentation>
      <xs:appinfo source="http://www.intel.com/soae/bpelFault-2009a/faultInfo">aaa:siteMinderAuthenticationFault</xs:appinfo>	      
    </xs:annotation>
  </xs:element>

  <xs:element name="aaaSamlAttributeQueryAuthorizationFault" type="soae-fault:AaaSamlAttributeQueryAuthorizationFault">
    <xs:annotation>
      <xs:documentation xml:lang="en">SAML AttributeQuery authorization failure</xs:documentation>
      <xs:appinfo source="http://www.intel.com/soae/bpelFault-2009a/faultInfo">aaa:samlAttributeQueryAuthorizationFault</xs:appinfo>	      
    </xs:annotation>
  </xs:element>

  <xs:element name="aaaWsTrustAuthenticationFault" type="soae-fault:AaaWsTrustAuthenticationFault">
    <xs:annotation>
      <xs:documentation xml:lang="en">WS-Trust Token Service invocation failure (authentication)</xs:documentation>
      <xs:appinfo source="http://www.intel.com/soae/bpelFault-2009a/faultInfo">aaa:wsTrustAuthenticationFault</xs:appinfo>	      
    </xs:annotation>
  </xs:element>

  <xs:element name="aaaWsTrustCreateTokenFault" type="soae-fault:AaaWsTrustCreateTokenFault">
    <xs:annotation>
      <xs:documentation xml:lang="en">WS-Trust Token Service invocation failure (create token)</xs:documentation>
      <xs:appinfo source="http://www.intel.com/soae/bpelFault-2009a/faultInfo">aaa:wsTrustCreateTokenFault</xs:appinfo>	      
    </xs:annotation>
  </xs:element>
  
  <xs:element name="aaaOauthParamCheckFault" type="soae-fault:AaaOauthParamCheckFault">
    <xs:annotation>
      <xs:documentation xml:lang="en">Required OAuth parameter is missing</xs:documentation>
      <xs:appinfo source="http://www.intel.com/soae/bpelFault-2009a/faultInfo">aaa:oauthParamCheckFault</xs:appinfo>	      
    </xs:annotation>
  </xs:element>
  
  <xs:element name="aaaInvalidGrantFault" type="soae-fault:AaaInvalidGrantFault">
    <xs:annotation>
      <xs:documentation xml:lang="en">Missing required field in OAuth grant</xs:documentation>
      <xs:appinfo source="http://www.intel.com/soae/bpelFault-2009a/faultInfo">aaa:invalidGrantFault</xs:appinfo>	      
    </xs:annotation>
  </xs:element>

  <xs:element name="aaaRegisterAccessTokenFault" type="soae-fault:AaaInvalidGrantFault">
    <xs:annotation>
      <xs:documentation xml:lang="en">Failure during Access Token registration process</xs:documentation>
      <xs:appinfo source="http://www.intel.com/soae/bpelFault-2009a/faultInfo">aaa:registerAccessTokenFault</xs:appinfo>	      
    </xs:annotation>
  </xs:element>

  <xs:element name="aaaVerifyAccessTokenFault" type="soae-fault:AaaInvalidGrantFault">
    <xs:annotation>
      <xs:documentation xml:lang="en">Failure during Access Token verification</xs:documentation>
      <xs:appinfo source="http://www.intel.com/soae/bpelFault-2009a/faultInfo">aaa:verifyAccessTokenFault</xs:appinfo>	      
    </xs:annotation>
  </xs:element>  
  
  <xs:element name="aaaVerifyRefreshTokenFault" type="soae-fault:AaaInvalidGrantFault">
    <xs:annotation>
      <xs:documentation xml:lang="en">Failure during Refresh Token verification</xs:documentation>
      <xs:appinfo source="http://www.intel.com/soae/bpelFault-2009a/faultInfo">aaa:verifyRefreshTokenFault</xs:appinfo>	      
    </xs:annotation>
  </xs:element>

  <xs:complexType name="AaaDetails">
    <xs:sequence>
      <xs:element name="policyName" type="xs:string"/>
      <xs:element name="description" type="xs:string"/>
      <xs:any minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AaaActionFault">
    <xs:complexContent>
      <xs:restriction base="soae-fault:Fault">
        <xs:sequence>
          <xs:group ref="soae-fault:foundation"/>
	      <xs:element name="details" type="soae-fault:AaaDetails"/>          
        </xs:sequence>
      </xs:restriction>	      
    </xs:complexContent>
  </xs:complexType>	  

  <xs:complexType name="AaaLdapSearchFault">
    <xs:complexContent>
      <xs:restriction base="soae-fault:AaaActionFault">
        <xs:sequence>
           <xs:group ref="soae-fault:foundation"/>
	       <xs:element name="details">
             <xs:complexType>
               <xs:complexContent>
                 <xs:restriction base="soae-fault:AaaDetails">
                   <xs:sequence>
                     <xs:element name="policyName" type="xs:string"/>
                     <xs:element name="description" type="xs:string"/>
                     <xs:element name="searchResponse" type="ldap:SearchResponse"/>
                   </xs:sequence>
                 </xs:restriction>
               </xs:complexContent>
	        </xs:complexType>
	      </xs:element>
	    </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AaaKerberosLookupFault">
    <xs:complexContent>
      <xs:restriction base="soae-fault:AaaActionFault">
        <xs:sequence>
           <xs:group ref="soae-fault:foundation"/>
	       <xs:element name="details">
             <xs:complexType>
               <xs:complexContent>
                 <xs:restriction base="soae-fault:AaaDetails">
                   <xs:sequence>
                     <xs:element name="policyName" type="xs:string"/>
                     <xs:element name="description" type="xs:string"/>
                     <xs:element ref="kerberos:kerberosKDCResponse"/>
                   </xs:sequence>
                 </xs:restriction>
               </xs:complexContent>
	        </xs:complexType>
	      </xs:element>
	    </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="AaaLdapAuthorizationFault">
    <xs:complexContent>
      <xs:restriction base="soae-fault:AaaActionFault">
        <xs:sequence>
           <xs:group ref="soae-fault:foundation"/>
	       <xs:element name="details">
             <xs:complexType>
               <xs:complexContent>
                 <xs:restriction base="soae-fault:AaaDetails">
                   <xs:sequence>
                     <xs:element name="policyName" type="xs:string"/>
                     <xs:element name="description" type="xs:string"/>
                     <xs:element name="searchResponse" type="ldap:SearchResponse"/>
                   </xs:sequence>
                 </xs:restriction>
               </xs:complexContent>
	        </xs:complexType>
	      </xs:element>
	    </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="AaaLdapAuthenticationFault">
    <xs:complexContent>
      <xs:restriction base="soae-fault:AaaActionFault">
        <xs:sequence>
           <xs:group ref="soae-fault:foundation"/>
	       <xs:element name="details">
             <xs:complexType>
               <xs:complexContent>
                 <xs:restriction base="soae-fault:AaaDetails">
                   <xs:sequence>
                     <xs:element name="policyName" type="xs:string"/>
                     <xs:element name="description" type="xs:string"/>
                     <xs:choice>
                       <xs:element name="searchResponse" type="ldap:SearchResponse"/>
                       <xs:element name="authResponse" type="ldap:AuthResponse"/>
                     </xs:choice>
                   </xs:sequence>
                 </xs:restriction>
               </xs:complexContent>
	        </xs:complexType>
	      </xs:element>
	    </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="AaaSiteMinderAuthorizationFault">
    <xs:complexContent>
      <xs:restriction base="soae-fault:AaaActionFault">
        <xs:sequence>
           <xs:group ref="soae-fault:foundation"/>
	       <xs:element name="details">
             <xs:complexType>
               <xs:complexContent>
                 <xs:restriction base="soae-fault:AaaDetails">
                   <xs:sequence>
                     <xs:element name="policyName" type="xs:string"/>
                     <xs:element name="description" type="xs:string"/>
                     <xs:element ref="sm:siteMinderResponse"/>
                   </xs:sequence>
                 </xs:restriction>
               </xs:complexContent>
	        </xs:complexType>
	      </xs:element>
	    </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AaaSiteMinderAuthenticationFault">
    <xs:complexContent>
      <xs:restriction base="soae-fault:AaaActionFault">
        <xs:sequence>
           <xs:group ref="soae-fault:foundation"/>
	       <xs:element name="details">
             <xs:complexType>
               <xs:complexContent>
                 <xs:restriction base="soae-fault:AaaDetails">
                   <xs:sequence>
                     <xs:element name="policyName" type="xs:string"/>
                     <xs:element name="description" type="xs:string"/>
                     <xs:element ref="sm:siteMinderResponse"/>
                   </xs:sequence>
                 </xs:restriction>
               </xs:complexContent>
	        </xs:complexType>
	      </xs:element>
	    </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="AaaOracleAccessManagerAuthorizationFault">
    <xs:complexContent>
      <xs:restriction base="soae-fault:AaaActionFault">
        <xs:sequence>
           <xs:group ref="soae-fault:foundation"/>
	       <xs:element name="details">
             <xs:complexType>
               <xs:complexContent>
                 <xs:restriction base="soae-fault:AaaDetails">
                   <xs:sequence>
                     <xs:element name="policyName" type="xs:string"/>
                     <xs:element name="description" type="xs:string"/>
                     <xs:element ref="oam:oracleAccessManagerResponse"/>
                   </xs:sequence>
                 </xs:restriction>
               </xs:complexContent>
	        </xs:complexType>
	      </xs:element>
	    </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="AaaOracleAccessManagerAuthenticationFault">
    <xs:complexContent>
      <xs:restriction base="soae-fault:AaaActionFault">
        <xs:sequence>
           <xs:group ref="soae-fault:foundation"/>
	       <xs:element name="details">
             <xs:complexType>
               <xs:complexContent>
                 <xs:restriction base="soae-fault:AaaDetails">
                   <xs:sequence>
                     <xs:element name="policyName" type="xs:string"/>
                     <xs:element name="description" type="xs:string"/>
                     <xs:element ref="oam:oracleAccessManagerResponse"/>
                   </xs:sequence>
                 </xs:restriction>
               </xs:complexContent>
	        </xs:complexType>
	      </xs:element>
	    </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="AaaSsoValidationFault">
    <xs:complexContent>
      <xs:extension base="soae-fault:AaaActionFault"/>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="AaaKeystoreAuthenticationFault">
    <xs:complexContent>
      <xs:extension base="soae-fault:AaaActionFault"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AaaWssecHeaderMissedFault">
    <xs:complexContent>
      <xs:extension base="soae-fault:AaaActionFault"/>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="AaaNoHttpAuthHeaderFault">
    <xs:complexContent>
      <xs:extension base="soae-fault:AaaActionFault"/>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="AaaNoSoapHeaderFault">
    <xs:complexContent>
      <xs:extension base="soae-fault:AaaActionFault"/>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="AaaSoapVersionMismatchFault">
    <xs:complexContent>
      <xs:extension base="soae-fault:AaaActionFault"/>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="AaaWsaHeaderMissedFault">
    <xs:complexContent>
      <xs:extension base="soae-fault:AaaActionFault"/>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="AaaNoRequestElementFault">
    <xs:complexContent>
      <xs:extension base="soae-fault:AaaActionFault"/>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="AaaCannotExtractIdentityFault">
    <xs:complexContent>
      <xs:extension base="soae-fault:AaaActionFault"/>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="AaaCannotExtractResourceFault">
    <xs:complexContent>
      <xs:extension base="soae-fault:AaaActionFault"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AaaWsTrustAuthenticationFault">
    <xs:complexContent>
      <xs:extension base="soae-fault:AaaActionFault"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AaaWsTrustCreateTokenFault">
    <xs:complexContent>
      <xs:extension base="soae-fault:AaaActionFault"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AaaOracleEntitlementServerXACMLAuthorizationFault">
    <xs:complexContent>
      <xs:restriction base="soae-fault:AaaActionFault">
        <xs:sequence>
           <xs:group ref="soae-fault:foundation"/>
	       <xs:element name="details">
             <xs:complexType>
               <xs:complexContent>
                 <xs:restriction base="soae-fault:AaaDetails">
                   <xs:sequence>
                     <xs:element name="policyName" type="xs:string"/>
                     <xs:element name="description" type="xs:string"/>
                     <xs:choice>
                       <xs:element ref="ssm:serviceFailure"/>
                       <xs:element ref="ssm:xacmlFailure"/>
                       <xs:element ref="xacml-context:Response"/>
                      </xs:choice>                    
                   </xs:sequence>
                 </xs:restriction>
               </xs:complexContent>
	        </xs:complexType>
	      </xs:element>
	    </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AaaOracleEntitlementServerAuthenticationFault">
    <xs:complexContent>
      <xs:restriction base="soae-fault:AaaActionFault">
        <xs:sequence>
           <xs:group ref="soae-fault:foundation"/>
	       <xs:element name="details">
             <xs:complexType>
               <xs:complexContent>
                 <xs:restriction base="soae-fault:AaaDetails">
                   <xs:sequence>
                     <xs:element name="policyName" type="xs:string"/>
                     <xs:element name="description" type="xs:string"/>
                     <xs:choice>
                       <xs:element ref="ssm:serviceFailure"/>
                       <xs:element ref="ssm:authenticationFailure"/>
                      </xs:choice>                    
                   </xs:sequence>
                 </xs:restriction>
               </xs:complexContent>
	        </xs:complexType>
	      </xs:element>
	    </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="AaaTivoliAccessManagerAuthorizationFault">
    <xs:complexContent>
      <xs:restriction base="soae-fault:AaaActionFault">
        <xs:sequence>
           <xs:group ref="soae-fault:foundation"/>
	       <xs:element name="details">
             <xs:complexType>
               <xs:complexContent>
                 <xs:restriction base="soae-fault:AaaDetails">
                   <xs:sequence>
                     <xs:element name="policyName" type="xs:string"/>
                     <xs:element name="description" type="xs:string"/>
                     <xs:choice>
                       <xs:element ref="tam:tivoliAccessManagerResponse"/>
                     </xs:choice>                    
                   </xs:sequence>
                 </xs:restriction>
               </xs:complexContent>
	        </xs:complexType>
	      </xs:element>
	    </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AaaTivoliAccessManagerAuthenticationFault">
    <xs:complexContent>
      <xs:restriction base="soae-fault:AaaActionFault">
        <xs:sequence>
           <xs:group ref="soae-fault:foundation"/>
	       <xs:element name="details">
             <xs:complexType>
               <xs:complexContent>
                 <xs:restriction base="soae-fault:AaaDetails">
                   <xs:sequence>
                     <xs:element name="policyName" type="xs:string"/>
                     <xs:element name="description" type="xs:string"/>
                     <xs:choice>
                       <xs:element ref="tam:tivoliAccessManagerResponse"/>
                     </xs:choice>                    
                   </xs:sequence>
                 </xs:restriction>
               </xs:complexContent>
	        </xs:complexType>
	      </xs:element>
	    </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AaaSamlAttributeQueryAuthorizationFault">
    <xs:complexContent>
      <xs:restriction base="soae-fault:AaaActionFault">
        <xs:sequence>
           <xs:group ref="soae-fault:foundation"/>
	       <xs:element name="details">
             <xs:complexType>
               <xs:complexContent mixed="false">
                 <xs:restriction base="soae-fault:AaaDetails">
                   <xs:sequence>
                     <xs:element name="policyName" type="xs:string"/>
                     <xs:element name="description" type="xs:string"/>
                     <xs:choice minOccurs="0">
                       <xs:element ref="samlp1x:Response"/>
                       <xs:element ref="samlp20:Response"/>
                       <xs:element name="faultDetails" type="xs:anyType"/>
                     </xs:choice>                    
                   </xs:sequence>
                 </xs:restriction>
               </xs:complexContent>
	        </xs:complexType>
	      </xs:element>
	    </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="AaaOauthParamCheckFault">
    <xs:complexContent>
      <xs:extension base="soae-fault:AaaActionFault"/>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="AaaInvalidGrantFault">
    <xs:complexContent>
      <xs:extension base="soae-fault:AaaActionFault"/>
    </xs:complexContent>
  </xs:complexType>

</xs:schema>
