systemLib/localServices/documentFunctionBpelFault.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:soae-fault="http://www.intel.com/soae/bpelFault-2009a/" 
           targetNamespace="http://www.intel.com/soae/bpelFault-2009a/" 
           elementFormDefault="unqualified">

  <xs:include schemaLocation="soaeBpelFault.xsd" />

  <!-- ========================================================================

    Defines the soae bpel faults that can be generated by two closely related
    bpel extension functions:

          document()
	  document-as-string()
    
    ======================================================================== -->

  <xs:element name="documentFault" type="soae-fault:DocumentFault">
    <xs:annotation>
      <xs:documentation xml:lang="en">Document loading or parsing failure</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="documentAsStringFault" type="soae-fault:DocumentAsStringFault">
   <xs:annotation>
      <xs:documentation xml:lang="en">Document loading failure or contains characters which are not valid in xml.</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="documentAsBase64StringFault" type="soae-fault:DocumentAsStringFault">
   <xs:annotation>
      <xs:documentation xml:lang="en">Document loading failure.</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="DocumentFault">
    <xs:complexContent>
      <xs:restriction base="soae-fault:Fault">
        <xs:sequence>
          <xs:group ref="soae-fault:foundation"/>
          <xs:element name="details">
            <xs:complexType>

	      <!-- Faults fall into two broad families:

			document load failure (e.g. file not found, server timeout)

			xml parsing failure

		   Use "documentLoadFailure" to discriminate between these two.
              -->

              <xs:sequence>
                <xs:element name="url" type="xs:string" />
                <xs:element name="documentLoadFailure" type="xs:boolean"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="DocumentAsStringFault">
    <xs:complexContent>
      <xs:restriction base="soae-fault:Fault">
        <xs:sequence>
          <xs:group ref="soae-fault:foundation"/>
          <xs:element name="details">

	      <!-- Faults fall into two broad families:

			document load failure (e.g. file not found, server timeout)
			
                        document contains invalid xml character (e.g. formfeed) or
                        malformed multi-byte sequence.  
      
		   Use "documentLoadFailure" to discriminate between these two.
              -->

            <xs:complexType>
              <xs:sequence>
                <xs:element name="url" type="xs:string" />
                <xs:element name="documentLoadFailure" type="xs:boolean"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="DocumentAsBase64StringFault">
    <xs:complexContent>
      <xs:restriction base="soae-fault:Fault">
        <xs:sequence>
          <xs:group ref="soae-fault:foundation"/>
          <xs:element name="details">

	      <!-- Faults fall into two broad families:

			document load failure (e.g. file not found, server timeout)
			
                        At this time, this is the only error that can be reported.
                   
                   For future compatibility, use "documentLoadFailure" to discriminate between these two.
              -->

            <xs:complexType>
              <xs:sequence>
                <xs:element name="url" type="xs:string" />
                <xs:element name="documentLoadFailure" type="xs:boolean"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

</xs:schema>
