systemLib/localServices/qosBpelFault.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:soae-fault="http://www.intel.com/soae/bpelFault-2009a/" 
           targetNamespace="http://www.intel.com/soae/bpelFault-2009a/" 
           elementFormDefault="unqualified">

  <xs:include schemaLocation="soaeBpelFault.xsd" />

  <!-- ========================================================================

    Defines the soae bpel faults that can be generated by QoS
    ("Quality of Service")  extension functions.
    
    ======================================================================== -->

  <xs:element name="qosFault" type="soae-fault:QosFault"/>

  <xs:complexType name="QosFault">
    <xs:complexContent>
      <xs:restriction base="soae-fault:Fault">
        <xs:sequence>
          <xs:group ref="soae-fault:foundation"/>
          <xs:element name="details">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="policy" type="xs:string" />
                <xs:element name="serviceLevel" type="xs:string" />
                <xs:element name="rule" type="xs:string" />

                <xs:choice minOccurs="0" >

                   <!-- For qosUserActionFault and qosRejectActionFault. -->

                   <xs:element name="text" type="xs:string" />

	           <!-- For qosQueueDepthExceeded. -->

                   <xs:sequence>     
                      <xs:element name="priority" type="xs:string" minOccurs="0" />
                      <xs:element name="maxQueueDepth" type="xs:string" minOccurs="0" />
                   </xs:sequence>

                </xs:choice>

              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="qosRejectActionFault" type="soae-fault:QosFault" >
    <xs:annotation>
      <xs:documentation xml:lang="en">

QoS action "reject" and default handling.</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="qosUserActionFault" type="soae-fault:QosFault" >
    <xs:annotation>
      <xs:documentation xml:lang="en">

QoS action "reject" and user-defined handling.</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="qosNoServiceLevelMatchFault" type="soae-fault:QosFault" >
    <xs:annotation>
      <xs:documentation xml:lang="en">

The request was not matched by any service-level.</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="qosQueueDepthExceededFault" type="soae-fault:QosFault" >
    <xs:annotation>
      <xs:documentation xml:lang="en">

A "defer" action was requested, but the maximum queue depth has been reached.</xs:documentation>

    </xs:annotation>
  </xs:element>

</xs:schema>
