systemLib/localServices/schemaValidateBpelFault.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:soae-fault="http://www.intel.com/soae/bpelFault-2009a/" 
           targetNamespace="http://www.intel.com/soae/bpelFault-2009a/" 
           elementFormDefault="unqualified">

  <xs:include schemaLocation="soaeBpelFault.xsd" />

  <!-- ========================================================================

    Defines the soae bpel fault that can be generated by the schema-validate
    extension function.
    
    ======================================================================== -->

  <xs:element name="schemaValidateNodeFault" type="soae-fault:SchemaValidateNodeFault">
    <xs:annotation>
      <xs:documentation xml:lang="en">Schema validation failure</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="SchemaValidateNodeFault">
    <xs:complexContent>
      <xs:restriction base="soae-fault:Fault">
        <xs:sequence>
          <xs:group ref="soae-fault:foundation"/>
          <xs:element name="details">
            <xs:complexType>

              <xs:sequence>


	        <!-- Faults fall into three broad families:

			document load failure:
				file not found
				server timeout

			schema compilation errors
				schema not well-formed
	                        schema semantic error (element reference unresolved)
                        
                        document is not valid with respect to the schema
                -->

                <xs:element name="faultEnum" >
                  <xs:simpleType>
	            <xs:restriction base="soae-fault:FaultEnum" >
                      <xs:enumeration value="document-load-failure" />
                      <xs:enumeration value="schema-compilation-failure" />
                      <xs:enumeration value="schema-validation-failure" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>

		<!-- The element <documentLoadFailure> is used by many bpel faults
                     to indicate a problem loading the document.  It can be used
                     in conjunction with other messages of indicating an error.
		-->

                <xs:element name="documentLoadFailure" type="xs:boolean"/>

		<!-- A copy of the arguments used to invoke schema valiatio
	             extension function.
		-->

                <xs:element name="arguments" >
                  <xs:complexType>
                    <xs:sequence>
                       <xs:element name="schema-id-kind" type="xs:string" />
                       <xs:element name="schema-id" type="xs:string" />
                       <xs:element name="component-kind" type="xs:string" />
                       <xs:element name="component-id" type="xs:string" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>

              </xs:sequence>
            </xs:complexType>
          </xs:element>

        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

</xs:schema>
