systemLib/localServices/tokenExchangeBpelFault.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:soae-fault="http://www.intel.com/soae/bpelFault-2009a/" 
           targetNamespace="http://www.intel.com/soae/bpelFault-2009a/" 
           elementFormDefault="unqualified">

  <xs:include schemaLocation="soaeBpelFault.xsd" />

  <!-- ========================================================================

    Defines the soae bpel faults that can be generated by token exchange
    extension functions.
    
    ======================================================================== -->

  <xs:element name="tokenExchangeFault" type="soae-fault:TokenExchangeFault"/>

  <xs:complexType name="TokenExchangeFault">
    <xs:complexContent>
      <xs:restriction base="soae-fault:Fault">
        <xs:sequence>
          <xs:group ref="soae-fault:foundation"/>
          <xs:element name="details">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="policy" type="xs:string" />
                <xs:element name="domainId" type="xs:string" minOccurs="0" />
                <xs:element name="desc" type="xs:string" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="generateExchangeTokenFault" type="soae-fault:TokenExchangeFault" />
  <xs:element name="createTokenExchangeNodesetFault" type="soae-fault:TokenExchangeFault" />
  <xs:element name="createTokenExchangeStringFault" type="soae-fault:TokenExchangeFault" />
  <xs:element name="getExchangeTokenClusterIdFault" type="soae-fault:TokenExchangeFault" />

  <xs:element name="encryptTokenSourceDataFault" type="soae-fault:TokenExchangeFault" />
  <xs:element name="decryptTokenSourceDataFault" type="soae-fault:TokenExchangeFault" />

  <xs:element name="normalizeValidateEncodeFault" type="soae-fault:TokenExchangeFault" />
  <xs:element name="decodeDenormalizeTokenFault" type="soae-fault:TokenExchangeFault" />
  <xs:element name="normalizeAndValidatePanFault" type="soae-fault:TokenExchangeFault" />

<!--
    Thrown when there is a mismatch between number of significant
    characters in normalized string and picture string.  

    For this extension function, the policy name will be a zero length
    string because no policy is required for this operation.
-->

  <xs:element name="tokenExchangeDenormalizeStringFault" type="soae-fault:TokenExchangeFault" >
    <xs:annotation>
      <xs:documentation xml:lang="en">
Token Exchange operation failure: Mismatch between normalized &amp; picture string.
      </xs:documentation>
    </xs:annotation>
  </xs:element>  

  <xs:element name="tokenExchangeNormalizeStringFault" type="soae-fault:TokenExchangeFault" >
    <xs:annotation>
      <xs:documentation xml:lang="en">
      </xs:documentation>
    </xs:annotation>
  </xs:element>  
  
  <xs:element name="TokenExchangeDeleteEntryByPANFault" type="soae-fault:TokenExchangeFault">
    <xs:annotation>
      <xs:documentation xml:lang="en">
Token Exchange operation failure: Delete entry by PAN.      
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="TokenExchangeDeleteEntryByTokenFault" type="soae-fault:TokenExchangeFault">
    <xs:annotation>
      <xs:documentation xml:lang="en">
Token Exchange operation failure: Delete entry by token.      
      </xs:documentation>
    </xs:annotation>
  </xs:element>
    
  <xs:element name="TokenExchangeEntryNotFoundFault" type="soae-fault:TokenExchangeFault">
    <xs:annotation>
      <xs:documentation xml:lang="en">
Token Exchange operation failure: requested entry not found.      
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  
  <xs:element name="TokenExchangeGetTokenByPANFault" type="soae-fault:TokenExchangeFault">
    <xs:annotation>
      <xs:documentation xml:lang="en">
Token Exchange operation failure: Get token by PAN.      
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="TokenExchangeGetPANByTokenFault" type="soae-fault:TokenExchangeFault">
    <xs:annotation>
      <xs:documentation xml:lang="en">
Token Exchange operation failure: Get PAN by token.      
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  
  <xs:element name="TokenExchangeGenerateTokenByPANFault" type="soae-fault:TokenExchangeFault">
    <xs:annotation>
      <xs:documentation xml:lang="en">
Token Exchange operation failure: Generate token by PAN.      
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  
  <xs:element name="BulkPANToTokenExchangeFault" type="soae-fault:TokenExchangeFault">
    <xs:annotation>
      <xs:documentation xml:lang="en">
Bulk PAN-to-Token exchange operation failure.	      
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="BulkTokenToPANExchangeFault" type="soae-fault:TokenExchangeFault">
    <xs:annotation>
      <xs:documentation xml:lang="en">
Bulk Token-to-PAN exchange operation failure.	      
      </xs:documentation>
    </xs:annotation>
  </xs:element>

</xs:schema>
