systemLib/localServices/TokenBrokerPCIDSS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
  xmlns:soae="http://www.intel.com/soae/wsdl/wsdl11-2007a/" xmlns:tns="urn:pcidss.tokenbroker.esg.intel.com"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:pcidss="urn:pcidss.tokenbroker.esg.intel.com"
  name="TokenBrokerPCIDSS" targetNamespace="urn:pcidss.tokenbroker.esg.intel.com"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <plnk:partnerLinkType name="TokenBrokerPCIDSSPartnerLinkType">
    <plnk:role name="TokenBrokerPCIDSSProvider" portType="tns:TokenBrokerPCIDSSPortType" />
  </plnk:partnerLinkType>
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="urn:pcidss.tokenbroker.esg.intel.com"
        schemaLocation="TokenBrokerPCIDSS.xsd" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="PutTokenRequestMessage">
    <wsdl:part element="pcidss:PutTokenRequest" name="body" />
  </wsdl:message>
  <wsdl:message name="PutTokenReplyMessage">
    <wsdl:part element="pcidss:PutTokenReply" name="body" />
  </wsdl:message>
  <wsdl:message name="GetPanByTokenRequestMessage">
    <wsdl:part element="pcidss:GetPanByTokenRequest" name="body" />
  </wsdl:message>
  <wsdl:message name="GetPanByTokenReplyMessage">
    <wsdl:part element="pcidss:GetPanByTokenReply" name="body" />
  </wsdl:message>
  <wsdl:message name="GetTokensByPanRequestMessage">
    <wsdl:part element="pcidss:GetTokensByPanRequest" name="body" />
  </wsdl:message>
  <wsdl:message name="GetTokensByPanReplyMessage">
    <wsdl:part element="pcidss:GetTokensByPanReply" name="body" />
  </wsdl:message>
  <wsdl:message name="DeleteRequestMessage">
    <wsdl:part element="pcidss:DeleteRequest" name="body" />
  </wsdl:message>
  <wsdl:message name="DeleteReplyMessage">
    <wsdl:part element="pcidss:DeleteReply" name="body" />
  </wsdl:message>
  <wsdl:portType name="TokenBrokerPCIDSSPortType">
    <wsdl:operation name="putToken">
      <wsdl:input message="tns:PutTokenRequestMessage" />
      <wsdl:output message="tns:PutTokenReplyMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPanByToken">
      <wsdl:input message="tns:GetPanByTokenRequestMessage" />
      <wsdl:output message="tns:GetPanByTokenReplyMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTokensByPan">
      <wsdl:input message="tns:GetTokensByPanRequestMessage" />
      <wsdl:output message="tns:GetTokensByPanReplyMessage" />
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input message="tns:DeleteRequestMessage" />
      <wsdl:output message="tns:DeleteReplyMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TokenBrokerPCIDSSBinding" type="tns:TokenBrokerPCIDSSPortType">
    <soae:binding
      transport="http://www.intel.com/soae/transport/TokenBrokerPCIDSS" />
    <wsdl:operation name="putToken">
      <wsdl:input>
        <soae:content part="body" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <soae:content part="body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPanByToken">
      <wsdl:input>
        <soae:content part="body" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <soae:content part="body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTokensByPan">
      <wsdl:input>
        <soae:content part="body" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <soae:content part="body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input>
        <soae:content part="body" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <soae:content part="body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TokenBrokerPCIDSS">
    <wsdl:port binding="tns:TokenBrokerPCIDSSBinding" name="TokenBrokerPCIDSSPort">
      <soae:address
        location="tb-pcidss://on-board?keyspace=keyspaceName&amp;maxConcurrentRequests=200" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
