systemLib/localServices/ws-trust-1.3.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
Based on OASIS public spec:

OASIS takes no position regarding the validity or scope of any intellectual property or other rights that might be claimed to pertain to the implementation or use of the technology described in this document or the extent to which any license under such rights might or might not be available; neither does it represent that it has made any effort to identify any such rights. Information on OASIS's procedures with respect to rights in OASIS specifications can be found at the OASIS website. Copies of claims of rights made available for publication and any assurances of licenses to be made available, or the result of an attempt made to obtain a general license or permission for the use of such proprietary rights by implementors or users of this specification, can be obtained from the OASIS Executive Director.
OASIS invites any interested party to bring to its attention any copyrights, patents or patent applications, or other proprietary rights which may cover technology that may be required to implement this specification. Please address the information to the OASIS Executive Director.
Copyright © OASIS Open 2002-2006. All Rights Reserved.
This document and translations of it may be copied and furnished to others, and derivative works that comment on or otherwise explain it or assist in its implementation may be prepared, copied, published and distributed, in whole or in part, without restriction of any kind, provided that the above copyright notice and this paragraph are included on all such copies and derivative works. However, this document itself does not be modified in any way, such as by removing the copyright notice or references to OASIS, except as needed for the purpose of developing OASIS specifications, in which case the procedures for copyrights defined in the OASIS Intellectual Property Rights document must be followed, or as required to translate it into languages other than English.
The limited permissions granted above are perpetual and will not be revoked by OASIS or its successors or assigns.
This document and the information contained herein is provided on an AS IS basis and OASIS DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL NOT INFRINGE ANY RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE.
-->
<wsdl:definitions 
        targetNamespace="http://www.intel.com/soae/localService/wstrust-1.3-2010a/"
        xmlns:tns="http://www.intel.com/soae/localService/wstrust-1.3-2010a/"
        xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" 
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
        xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" 
        xmlns:xs="http://www.w3.org/2001/XMLSchema" >
  <!-- this is the WS-I BP-compliant way to import a schema -->
  <wsdl:types>
	<xs:schema>
	  <xs:import 
		  namespace="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
		  schemaLocation="../importedSchemas/ws-trust-1.3.xsd"/>
	</xs:schema>
  </wsdl:types>
  
      <!-- ParterLinkType Definition -->
    <plnk:partnerLinkType name="SecurityTokenServicePartnerLinkType">
      <plnk:role name="service" portType="tns:SecurityTokenService"/>
    </plnk:partnerLinkType>
  

  <!-- WS-Trust defines the following GEDs -->
  <wsdl:message name="RequestSecurityTokenMsg">
	  <wsdl:part name="request" 
         element="wst:RequestSecurityToken" />
  </wsdl:message>
  <wsdl:message name="RequestSecurityTokenCollectionMsg">
    <wsdl:part name="request" 
         element="wst:RequestSecurityTokenCollection" />
  </wsdl:message>
  <wsdl:message name="RequestSecurityTokenResponseMsg">
	  <wsdl:part name="response" 
			   element="wst:RequestSecurityTokenResponse" />
  </wsdl:message>
  <wsdl:message name="RequestSecurityTokenResponseCollectionMsg">
	  <wsdl:part name="responseCollection" 
			   element="wst:RequestSecurityTokenResponseCollection"/>
  </wsdl:message>
  
  <!-- This portType models the full request/response the Security Token Service: -->
  
  <wsdl:portType name="WSSecurityRequestor">
	<wsdl:operation name="SecurityTokenResponse">
	  <wsdl:input 
		  message="tns:RequestSecurityTokenResponseMsg"/>
	</wsdl:operation>
	<wsdl:operation name="SecurityTokenResponse2">
	  <wsdl:input 
		  message="tns:RequestSecurityTokenResponseCollectionMsg"/>
	</wsdl:operation>
	<wsdl:operation name="Challenge">
	  <wsdl:input message="tns:RequestSecurityTokenResponseMsg"/>
	  <wsdl:output message="tns:RequestSecurityTokenResponseMsg"/>
	</wsdl:operation>
	<wsdl:operation name="Challenge2">
	  <wsdl:input message="tns:RequestSecurityTokenResponseMsg"/>
	  <wsdl:output 
		  message="tns:RequestSecurityTokenResponseCollectionMsg"/>
	</wsdl:operation>
  </wsdl:portType>
  
  <!-- These portTypes model the individual message exchanges -->
  
  <wsdl:portType name="SecurityTokenRequestService">
	<wsdl:operation name="RequestSecurityToken">
	  <wsdl:input message="tns:RequestSecurityTokenMsg"/>
	</wsdl:operation>
  <wsdl:operation name="RequestSecurityTokenCollection">
      <wsdl:input message="tns:RequestSecurityTokenCollectionMsg"/>
  </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:portType name="SecurityTokenService">
	<wsdl:operation name="RequestSecurityToken">
	  <wsdl:input message="tns:RequestSecurityTokenMsg"/>
	  <wsdl:output message="tns:RequestSecurityTokenResponseMsg"/>
	</wsdl:operation>
  </wsdl:portType>

    <!-- WSDL Bindings Section -->
    <wsdl:binding name="SecurityTokenServiceRSTIssueSOAP11Binding" type="tns:SecurityTokenService">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="RequestSecurityToken">
        <soap:operation soapAction="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RST/Issue"/>
        <wsdl:input>
          <soap:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
          <soap:body use="literal"/>
        </wsdl:output>
      </wsdl:operation>
    </wsdl:binding>
	
    <wsdl:binding name="SecurityTokenServiceRSTRenewSOAP11Binding" type="tns:SecurityTokenService">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="RequestSecurityToken">
        <soap:operation soapAction="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RST/Renew"/>
        <wsdl:input>
          <soap:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
          <soap:body use="literal"/>
        </wsdl:output>
      </wsdl:operation>
    </wsdl:binding>


    <wsdl:binding name="SecurityTokenServiceRSTCancelSOAP11Binding" type="tns:SecurityTokenService">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="RequestSecurityToken">
        <soap:operation soapAction="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RST/Cancel"/>
        <wsdl:input>
          <soap:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
          <soap:body use="literal"/>
        </wsdl:output>
      </wsdl:operation>
    </wsdl:binding>


    <wsdl:binding name="SecurityTokenServiceRSTValidateSOAP11Binding" type="tns:SecurityTokenService">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="RequestSecurityToken">
        <soap:operation soapAction="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RST/Validate"/>
        <wsdl:input>
          <soap:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
          <soap:body use="literal"/>
        </wsdl:output>
      </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="SecurityTokenServiceRSTIssueSOAP12Binding" type="tns:SecurityTokenService">
      <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="RequestSecurityToken">
        <soap12:operation soapAction="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RST/Issue"/>
        <wsdl:input>
          <soap12:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
          <soap12:body use="literal"/>
        </wsdl:output>
      </wsdl:operation>
    </wsdl:binding>
	
    <wsdl:binding name="SecurityTokenServiceRSTRenewSOAP12Binding" type="tns:SecurityTokenService">
      <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="RequestSecurityToken">
        <soap12:operation soapAction="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RST/Renew"/>
        <wsdl:input>
          <soap12:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
          <soap12:body use="literal"/>
        </wsdl:output>
      </wsdl:operation>
    </wsdl:binding>


    <wsdl:binding name="SecurityTokenServiceRSTCancelSOAP12Binding" type="tns:SecurityTokenService">
      <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="RequestSecurityToken">
        <soap12:operation soapAction="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RST/Cancel"/>
        <wsdl:input>
          <soap12:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
          <soap12:body use="literal"/>
        </wsdl:output>
      </wsdl:operation>
    </wsdl:binding>


    <wsdl:binding name="SecurityTokenServiceRSTValidateSOAP12Binding" type="tns:SecurityTokenService">
      <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="RequestSecurityToken">
        <soap12:operation soapAction="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RST/Validate"/>
        <wsdl:input>
          <soap12:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
          <soap12:body use="literal"/>
        </wsdl:output>
      </wsdl:operation>
    </wsdl:binding>
    
    <!-- WSDL Services Section -->
    <wsdl:service name="SecurityTokenService">
      <wsdl:port name="SecurityTokenRequestRSTIssueSOAP11Port" binding="tns:SecurityTokenServiceRSTIssueSOAP11Binding">
        <soap:address location="http://localhost:8080/RST"/>
      </wsdl:port>
      <wsdl:port name="SecurityTokenRequestRSTRenewSOAP11Port" binding="tns:SecurityTokenServiceRSTRenewSOAP11Binding">
        <soap:address location="http://localhost:8080/RST"/>
      </wsdl:port>
      <wsdl:port name="SecurityTokenRequestRSTValidateSOAP11Port" binding="tns:SecurityTokenServiceRSTValidateSOAP11Binding">
        <soap:address location="http://localhost:8080/RST"/>
      </wsdl:port>
      <wsdl:port name="SecurityTokenRequestRSTCancelSOAP11Port" binding="tns:SecurityTokenServiceRSTCancelSOAP11Binding">
        <soap:address location="http://localhost:8080/RST"/>
      </wsdl:port>
      <wsdl:port name="SecurityTokenRequestRSTIssueSOAP12Port" binding="tns:SecurityTokenServiceRSTIssueSOAP12Binding">
        <soap12:address location="http://localhost:8080/RST"/>
      </wsdl:port>
      <wsdl:port name="SecurityTokenRequestRSTRenewSOAP12Port" binding="tns:SecurityTokenServiceRSTRenewSOAP12Binding">
        <soap12:address location="http://localhost:8080/RST"/>
      </wsdl:port>
      <wsdl:port name="SecurityTokenRequestRSTValidateSOAP12Port" binding="tns:SecurityTokenServiceRSTValidateSOAP12Binding">
        <soap12:address location="http://localhost:8080/RST"/>
      </wsdl:port>
      <wsdl:port name="SecurityTokenRequestRSTCancelSOAP12Port" binding="tns:SecurityTokenServiceRSTCancelSOAP12Binding">
        <soap12:address location="http://localhost:8080/RST"/>
      </wsdl:port>
    </wsdl:service>
  

</wsdl:definitions>
