systemLib/localServices/wssecBpelFault.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:soae-fault="http://www.intel.com/soae/bpelFault-2009a/" 
	xmlns:ldap="http://www.intel.com/soae/localService/ldap-2007a/"
	xmlns:kerberos="http://www.intel.com/soae/localService/kerberosKDC-2009a/"
	targetNamespace="http://www.intel.com/soae/bpelFault-2009a/" 
	elementFormDefault="unqualified" >

	<xs:include schemaLocation="soaeBpelFault.xsd" />

	<xs:import schemaLocation="ldap.xsd" namespace="http://www.intel.com/soae/localService/ldap-2007a/"/>
	<xs:import schemaLocation="kerberosKDC.xsd" namespace="http://www.intel.com/soae/localService/kerberosKDC-2009a/"/>

	<!-- ========================================================================

	Defines the soae bpel faults that can be generated by wssec related functions.

	======================================================================== -->

	<!-- Please keep in alphabetical order -->

	<xs:element name="asymmetricEncryptFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failure while encrypting data using X509 certificate</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="asymmetricDecryptFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failure while decrypting data using X509 certificate-key pair</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="asymmetricSignFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failure while signing data using X509 certificate-key pair</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="asymmetricVerifyFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failure while verifying data using X509 certificate</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="base64DigestFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failure while calculating a digest value</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="buildSamlAttributeQueryFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failure while building SAML Attribute Query request</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="bulkEncryptUsingSecurityObjectFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failure while encrypting the data using the security object (symmetric key)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="bulkDecryptUsingSecurityObjectFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failure while decrypting the encrypted data using the security object (symmetric key)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="calculateTimeDeltaFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en"></xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="checkPkiCertificateChainOfTrustFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">WS-Security PKI Certificate chain-of-trust check failure</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="checkResourceCoveredByScopeFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failure in checking that the extracted resource is covered by at least one of the approved scope values.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="checkScopeFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failure in checking all requested scope values contained on the initial OAuth Authorization Request message within the optional scope parameter are on the approved list of supported scopes</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="checkScopeSubsetOfRefreshTokenFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failure in checking that the scope requested a new access token is a subset of the approved scope within a refresh token.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="checkTimestampFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">WS-Security timestamp check failure</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="checkUsingOcspFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Online Certificate Status Protocol check failure</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="createAccessTokenResponseFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failed to create an OAuth access token response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="createHttpAuthenticationFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Could not create HTTP Authorization header </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="createJsonTokenFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failed to creates a JSON Web Token (JWT)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="createKerberosTokenFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Could not create Kerberos token</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="createOauthGrantFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failed to create an OAuth grant (authorization code)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="createRstFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failure when creating WS-Trust RequestSecurityToken</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="createSamlAssertionFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Could not create SAML Assertion</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="createSamlAttributeQueryResponseFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Could not create SAML attribute query response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="createUsernameTokenFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Could not create WS-Security Username token</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="decodeInflateSamlAssertionFromWorkflowFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failure while decoding and inflating SAML assertion</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="decryptIceTokenFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failure while decrypting the supplied ICE Token</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="decryptJsonWebTokenFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failure while decrypting the supplied JSON Web Token</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="decryptBlockSupplyingIvFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failure while decrypting fixed length base64 block using shared secret</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="decryptVerifySamlAttributeQueryFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failure while decrypting and verifying SAML Attribute query</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="encryptBlockSupplyingIvFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failure while encrypting fixed length block using shared secret and iv</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="extractAccessTokenInfoFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failure while extracting access token</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="extractCertificateIdentityFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failure while extracting Identity from X.509 certificate</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="extractClaimFromIceTokenFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failure while extracting claim from ICE Token</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="extractClaimFromJsonWebTokenFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failure while extracting claim from JSON Web Token</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="extractCookieFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failure while extracting SSO token from cookie</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="extractFullCertificateFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failure while extracting full X.509 certificate from WS-Security BST</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="extractHttpKerberosTokenFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failure while extracting Kerberos token from HTTP header</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="extractJsonTokenFromMetadataFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failure while extracting either a JSON Web Token (JWT) or proprietary ECA 360 ICE Token</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="extractKerberosIdentityFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failure while extracting Identity from Kerberos token</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="extractKerberosTokenFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failure while extracting Kerberos token from WS-Security header</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="extractNameFromJsonWebTokenFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failure while extracting the subject name from JSON web token</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="extractNameFromSamlAssertionFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failure while extracting the name identifier or most explicit component of the name identifier from SAML assertion</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="extractNamePasswordFromHttpBasicFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failure while finding or extracting HTTP Authorization field within the incoming HTTP header/metadata</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="extractSamlAssertionFromMetadataFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failure while extracting SAML assertion from http metadata</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="extractSamlAssertionFromSoapFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failure while extracting SAML assertion from WS-Security header in SOAP header</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="extractUsernameTokenFromSoapFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failure while extracting username token from WS-Security header in SOAP header</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="generateHmacSignatureValueFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en"></xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="generateSignatureConfirmationsFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failure while generating signature confirmations</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="generateTimestampFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failure while generating timestamp</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="generateTivoliActionsFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failure while generating Tivoli Actions list</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="generateUsernameDigestFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failure while generating WS-Security Username token with digest</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="generateX509EnvelopedSignatureFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failure while generateing XML enveloped signature</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="generateX509EnvelopingSignatureFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failure while generateing XML enveloping signature</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="getCertificateFieldFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Could not extract certificate field</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="invokeWssecServiceExportMimeCompletionFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en"></xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="invokeWssecServiceExportMimeFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en"></xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="invokeWssecServiceExportXmlCompletionFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en"></xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="invokeWssecServiceExportXmlFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en"></xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="invokeWssecServiceMimeCompletionFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en"></xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="invokeWssecServiceMimeFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en"></xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="invokeWssecServiceMimeTokenExtractionFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en"></xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="invokeWssecServiceXmlCompletionFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en"></xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="invokeWssecServiceXmlFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en"></xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="invokeWssecServiceXmlTokenExtractionFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en"></xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="invokeWssecServiceFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failure during WS-Security processing</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="invokeWssecServiceExportFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failure occurs while retrieving, using, or saving a security token</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="invokeWssecServiceCompletionFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Security token is invalid or the WS-Security operation failed</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="invokeWssecServiceExportCompletionFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failure occurs while using or saving a security token</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="invokeWssecServiceTokenExtractionFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Could not find signature, security token, or encrypted key</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="mapSecurityFailuresToHttpErrorResponseDetailsFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failure when mapping security failure to the http error</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="packageRstrTokenFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failure when packaging a WS-Trust token into the WS-Security header</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="processRstrFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failure when processing the WS-Trust RequestedSecurityTokenResponse</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="processSMimeOperationFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">S/MIME processing failure</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="queryKeystoreFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failure while querying the internal keystore</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="recordSuccessfulSecurityAction" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failed to record the successful security action information to the transaction log</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="recordUnsuccessfulSecurityAction" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failed to record the unsuccessful security action information to the transaction log</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="removeTokenFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Could not remove the security token from the input document</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="restCreateSamlAssertionFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failed to create a SAML assertion</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="restDecryptValidateGrantOrRefreshTokenFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failed to decode and validate an OAuth grant</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="restDecryptValidateSamlAssertionFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failed to decrypt and validate a SAML assertion</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="restPackageSamlAssertionFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failed to package the SAML assertion</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="restValidateSamlAuthorizationFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failed to validate the SAML assertion</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="soapPackageSamlAssertionFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failed to package the supplied SAML assertion into the WS-Security Header within the SOAP header</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="validateExtractSamlAssertionFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Validation of the incoming SAML Assertion failed</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="validateHmacSignatureValueFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en"></xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="validateIceTokenFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Validation of ICE token failed</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="validateKerberosTokenFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Kerberos token validation failed</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="validateOauthJsonWebTokenFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failure while validating OAuth JSON web token</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="validateSamlAttributeQueryFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">SAML Attribute Query response fails validation</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="validateSamlAuthorizationFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">SAML Authorization request failed</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="validateSignatureConfirmationsFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Signature confirmations validation failed</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="verifyIceTokenFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failed to verify ICE token</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="verifyJsonWebTokenFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failed to verify JSON web token</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="verifyX509EnvelopedSignatureFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">X.509 enveloped signature verification failed</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="verifyX509EnvelopingSignatureFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">X.509 enveloping signature verification failed</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="wssecLdapSearchFault" type="soae-fault:WSSecLdapSearchFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">LDAP Search failure</xs:documentation>
			<xs:appinfo source="http://www.intel.com/soae/bpelFault-2009a/faultInfo" 
				xmlns:wssec="http://www.intel.com/soae/localService/wssecDefinition-2007a/">wssec:ldapSearchFault</xs:appinfo>	      
		</xs:annotation>
	</xs:element>

	<xs:element name="wssecKerberosLookupFault" type="soae-fault:WSSecKerberosLookupFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Kerberos ticket lookup failure</xs:documentation>
			<xs:appinfo source="http://www.intel.com/soae/bpelFault-2009a/faultInfo" 
				xmlns:wssec="http://www.intel.com/soae/localService/wssecDefinition-2007a/">wssec:kerberosLookupFault</xs:appinfo>	      
		</xs:annotation>
	</xs:element>
	<xs:element name="xmlDecryptFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">XML decryption failed</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="xmlEncryptFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">XML encryption failed</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="aesFfxDecryptFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">AES-FFX format preserving decryption failed</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="aesFfxEncryptFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">AES-FFX format preserving encryption failed</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="generateTweakValueFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Tweak generation failed</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="piiDecryptFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">PII decryption failed</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="piiEncryptFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">PII encryption failed</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="piiEncryptV2Fault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">PII encryption (new version) failed</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="piiGenerateKeyTweakFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">PII key-tweak info generation failed</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="piiRedactFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">PII redaction failed</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="getSharedSecretFromSecurityObjectFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Getting shared secret from security object failed</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="restCreateKerberosTokenFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failed to create a Kerberos or SPNEGO token</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="extractKerberosTokenFromSpnegoFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Could not find SPNEGO token from metadata</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="validateSpnegoTokenFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Validating a SPNEGO token failed</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="processJwtSecurityOperationFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failed to process a JSON Web Token security operation</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="processJwtTokenExtractionFault" type="soae-fault:WSSecExtensionFunctionFault">
		<xs:annotation>
			<xs:documentation xml:lang="en">Failed to process the token (id) extraction from JWS or JWE</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="WSSecDetails">
		<xs:sequence>
			<xs:element name="policyName" type="xs:string"/>
			<xs:element name="description" type="xs:string"/>
			<xs:any minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="WSSecExtensionFunctionFault">
		<xs:complexContent>
			<xs:restriction base="soae-fault:Fault">
				<xs:sequence>
					<xs:group ref="soae-fault:foundation"/>
					<xs:element name="details" type="soae-fault:WSSecDetails"/>          
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="WSSecActionFault">
		<xs:complexContent>
			<xs:restriction base="soae-fault:Fault">
				<xs:sequence>
					<xs:group ref="soae-fault:foundation"/>
					<xs:element name="details" type="soae-fault:WSSecDetails"/>          
				</xs:sequence>
			</xs:restriction>	      
		</xs:complexContent>
	</xs:complexType>	  

	<xs:complexType name="WSSecLdapSearchFault">
		<xs:complexContent>
			<xs:restriction base="soae-fault:WSSecActionFault">
				<xs:sequence>
					<xs:group ref="soae-fault:foundation"/>
					<xs:element name="details">
						<xs:complexType>
							<xs:complexContent>
								<xs:restriction base="soae-fault:WSSecDetails">
									<xs:sequence>
										<xs:element name="policyName" type="xs:string"/>
										<xs:element name="description" type="xs:string"/>
										<xs:element name="searchResponse" type="ldap:SearchResponse"/>
									</xs:sequence>
								</xs:restriction>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="WSSecKerberosLookupFault">
		<xs:complexContent>
			<xs:restriction base="soae-fault:WSSecActionFault">
				<xs:sequence>
					<xs:group ref="soae-fault:foundation"/>
					<xs:element name="details">
						<xs:complexType>
							<xs:complexContent>
								<xs:restriction base="soae-fault:WSSecDetails">
									<xs:sequence>
										<xs:element name="policyName" type="xs:string"/>
										<xs:element name="description" type="xs:string"/>
										<xs:element ref="kerberos:kerberosKDCResponse"/>
									</xs:sequence>
								</xs:restriction>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
