systemLib/localServices/XPathRoutingBpelFault.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:soae-fault="http://www.intel.com/soae/bpelFault-2009a/" 
           targetNamespace="http://www.intel.com/soae/bpelFault-2009a/" 
           elementFormDefault="unqualified">

  <xs:include schemaLocation="soaeBpelFault.xsd" />

  <!-- ========================================================================

    Defines the soae bpel faults that can be generated by XPath routing 
    extension functions.
    
    ======================================================================== -->

  <xs:element name="XPathRoutingFault" type="soae-fault:RoutingFault">
    <xs:annotation>
      <xs:documentation xml:lang="en">Message routing failure</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="RoutingFault">
    <xs:complexContent>
      <xs:restriction base="soae-fault:Fault">
        <xs:sequence>
          <xs:group ref="soae-fault:foundation"/>
          <xs:element name="details">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="policyName" type="xs:string"/>
                <xs:element name="type" type="soae-fault:RoutingFunctionType"/>

				<!-- Faults fall into three broad families:

			document load failure:
				file not found
				server timeout

			routing policy compilation errors
				policy not well-formed
	            policy semantic error (xpath expression invalid)

                -->

                <xs:element name="faultEnum" >
                  <xs:simpleType>
	                <xs:restriction base="soae-fault:FaultEnum" >
                      <xs:enumeration value="document-load-failure" />
                      <xs:enumeration value="document-compilation-failure" />
                      <xs:enumeration value="xpath-routing-failure" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="RoutingFunctionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="get-routing"/>
      <xs:enumeration value="get-routing-reference"/>
      <xs:enumeration value="get-routing-multiple-epr"/>
      <xs:enumeration value="BpelInvoke"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
